const std = @import("std");

pub const input_src = @embedFile("day_{d}_input.txt");
pub const input_sample1 = @embedFile("day_{d}_sample_1.txt");
pub const input_sample2 = @embedFile("day_{d}_sample_2.txt");

